<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/postStyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <%if(isAuthenticated){%>
                <li class="nav-item">
                    <a class="nav-link" href="/writepost">WritePost</a>
                </li>

                <%}%>
                </ul>
                <%if(isAuthenticated){%>
                <div class="nav-item form-inline my-2 my-lg-0 divauth">
                    <a class="btn btn-sm nav-link btn-outline-secondary" href="/logoutuser">log out</a>
                </div>
                <%}%>
                  
             
                 <%if(!isAuthenticated){%>
                <div class="form-inline my-2 my-lg-0 divauth">


                    <a class="btn btn-sm nav-link" href="/login">Login</a>
                    <a class="btn btn-sm nav-link btn-outline-secondary" href="/signIn">SignIn</a>
                </div>

        </div>
        <%}%>
              </nav>
            
              <main>
        <div class="container">
                <br>
                <br>
                    <h1>Write your Post here </h1>
                <div class="innerdiv container">
                        
              <form class="formContainer" action="/writepost/newpostAdded" method="POST">
                  <input class="inputFields" type="text" name="title" placeholder="Title">
                  <br>
                  <input class="inputFields" type="text" name="description" placeholder="Description">
                  <br>
                <div class=" container inputFields uploadDiv">
                    <img  src="/images/upload-cloud.png" alt="the cart Image" height="50px" width="70px">
                    <br>
                    <input class="btnUpload" id="btnUpload"  type="button"onclick="uploadImage()" value="Choose the photo to upload">
                </div>
                  <br>
                  <textarea class="inputFields"name="post" placeholder="Write the post here......"></textarea>
                  <br>
                  <button class="btnSubmit" type="submit">Post</button>
              </form>
            </div>  
            </div>
        </main>

        <script>
            const btnUpload = document.getElementById('btnUpload')

            let uploadImage = () => {
                window.alert("The choose button is clicked")
            }

            btnUpload.addEventListener('onclick', uploadImage)
        </script>
</body>
</html>